/*.article{
    background-color: #656565;
    margin:1px;
}
.article div h2{
    color: #ffffff;
    background-color: #656565;
}

.article div div{
    color: #cfcece;
    font-weight:700;
}

div div.articleDate{

    margin: 20px 10px 10px 0px;
    color:white;
    text-align:right;
}*/


