@{
    ViewBag.Title = "About Author";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>About Author</h2>

<section class="lead">
    Hello my name is Max Zuber. <br/>
    I am studing in Rivne STEP academy. My specialization is programmer. <br />
    You can visit my github repository: <a href="https://github.com/MaxZuber/">https://github.com/MaxZuber/</a> <br/>

    Contact me via email: zuber.max.v[dogy]gmail.com

</section>
