@{
    ViewBag.Title = "NoPopularArticles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="articleList alert alert-warning">
    <strong>
        Sorry!
    </strong>There are no articles today
</section>
